In [1]:
ls

 Volume in drive C is OS
 Volume Serial Number is 4A61-1FEC

 Directory of C:\Users\lavan\Desktop\MIS_COURSEWORK\jupyter notebook

04/05/2019  01:23 AM    <DIR>          .
04/05/2019  01:23 AM    <DIR>          ..
04/04/2019  01:22 PM    <DIR>          .ipynb_checkpoints
04/04/2019  01:21 PM            11,416 airport.xlsx
04/01/2019  05:20 PM               451 bread.txt
04/03/2019  06:19 PM             2,363 hanks.txt
04/04/2019  11:31 AM               272 hanks_modified.txt
03/31/2018  06:05 PM             3,587 HousePrices.csv
04/04/2019  03:20 PM            13,789 Importing_Excel_Spreadsheets.ipynb
03/29/2019  02:33 PM             3,101 Load_text_Files.ipynb
04/04/2019  11:43 AM            16,511 Loading_FlatFile_AS_A_PandasDataframe.ipynb
04/01/2019  06:27 PM            23,784 Loading_FlatFilesAsNumpyArrays.ipynb
04/04/2019  01:34 PM               797 Pickled Files
03/12/2019  01:59 PM                51 Test_Text_File.txt
03/04/2019  04:19 PM             1,120 Untitled.ipynb
              12 File(s)         77,242 bytes
               3 Dir(s)  307,804,188,672 bytes free

In [1]:
import pandas as pd

In [2]:
file='airport.xlsx'

In [12]:
print(data1.keys())

odict_keys(['airport', 'Test_Sheet'])

In [5]:
data=pd.ExcelFile(file)

In [6]:
print(data.sheet_names) #to see the different sheets of the excel workbook

['airport', 'Test_Sheet']

In [5]:
df1=data.parse('airport') #passing sheet name as a string

In [53]:
print(df1)

                            CITY STATE ABREV    PASS95    PASS85
0                        Chicago    IL   ORD  29885987  21510371
1                        Atlanta    GA   ATL  27556894  20678095
2              Dallas/Ft. Worth     TX   DFW  25963950  17715224
3                    Los Angeles    CA   LAX  21072273  15957127
4                  San Francisco   CA    SFO  15013265  10948098
5                         Denver    CO   DEN  14328457  13862996
6                        Phoenix   AZ    PHX  13557883   6713293
7                        Detroit    MI   DTW  13293568   7163840
8                      St. Louis    MO   STL  12736060   9555195
9                      Las Vegas    NV   LAS  12657051   4627078
10                         Miami   FL    MIA  12030812   7717685
11                        Newark    NJ   EWR  11899633  14272558
12  Minneapolis/St. Paul    MN      MN   MSP  11835783   7250302
13                       Houston    TX   IAH  10950826   6307582
14                Seattle/Tacoma    WA   SEA  10731233   5709488
15                        Boston    MA   BOS  10507611   9112901
16                      New York    NY   LGA   9682171   9613913
17                     Charlotte    NC   CLT   9588900   5102703
18                      New York    NY   JFK   9283314  10052007
19                    Pittsburgh    PA   PIT   9209903   7002343

In [54]:
df2=data.parse(0) # passing sheet as a index means takes the first sheet

In [46]:
df4=data.parse(0,names=['City','State','Code'],usecols=2)
#in use cols if you are passing an int specify the last col number you wanted to pass or usecols=[0,1,2] or usecols ("A:C")

In [47]:
print(df4.head())

                City State Code
0            Chicago    IL  ORD
1            Atlanta    GA  ATL
2  Dallas/Ft. Worth     TX  DFW
3        Los Angeles    CA  LAX
4      San Francisco   CA   SFO

In [16]:
#Notice the difference between data1.keys() and data2.keys()
#if sheet_name is set to none and printing the keys would give all the sheet_names of the excel file
#if sheet_name is set to default printing the keys would give the columns of the first sheet
data1=pd.read_excel(file)
print(data1.keys())

Index(['CITY', 'STATE', 'ABREV', 'PASS95', 'PASS85'], dtype='object')

In [17]:
data2=pd.read_excel(file, sheet_name=None)
print(data2.keys())
print(data2['airport'].head())

odict_keys(['airport', 'Test_Sheet'])
                CITY STATE ABREV    PASS95    PASS85
0            Chicago    IL   ORD  29885987  21510371
1            Atlanta    GA   ATL  27556894  20678095
2  Dallas/Ft. Worth     TX   DFW  25963950  17715224
3        Los Angeles    CA   LAX  21072273  15957127
4      San Francisco   CA    SFO  15013265  10948098