In [1]:
ls

 Volume in drive C is OS
 Volume Serial Number is 4A61-1FEC

 Directory of C:\Users\lavan\Desktop\MIS_COURSEWORK\jupyter notebook

04/04/2019  09:42 AM    <DIR>          .
04/04/2019  09:42 AM    <DIR>          ..
04/01/2019  06:17 PM    <DIR>          .ipynb_checkpoints
04/01/2019  05:20 PM               451 bread.txt
04/03/2019  06:19 PM             2,363 hanks.txt
03/31/2018  06:05 PM             3,587 HousePrices.csv
03/29/2019  02:33 PM             3,101 Load_text_Files.ipynb
04/04/2019  09:42 AM            17,876 Loading_FlatFile_AS_A_PandasDataframe.ipynb
04/01/2019  06:27 PM            23,784 Loading_FlatFilesAsNumpyArrays.ipynb
03/12/2019  01:59 PM                51 Test_Text_File.txt
03/04/2019  04:19 PM             1,120 Untitled.ipynb
               8 File(s)         52,333 bytes
               3 Dir(s)  320,830,885,888 bytes free

In [2]:
import pandas as pd

In [11]:
file='HousePrices.csv'

In [12]:
df=pd.read_csv(file) #reading the file and assigning it to a variable df

In [5]:
print(df.head()) #to print the first 5 lines includong header

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East

In [6]:
print(df.head) # Notice the difference between df.head and df.head()

<bound method NDFrame.head of       Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
5    114600  1780         3          2       2    No        North
6    151600  1830         3          3       3   Yes         West
7    150700  2160         4          2       2    No         West
8    119200  2110         4          2       3    No         East
9    104000  1730         3          3       3    No         East
10   132500  2030         3          2       3   Yes         East
11   123000  1870         2          2       2   Yes         East
12   102600  1910         3          2       4    No        North
13   126300  2150         3          3       5   Yes        North
14   176800  2590         4          3       4    No         West
15   145800  1780         4          2       1    No         West
16   147100  2190         3          3       4   Yes         East
17    83600  1990         3          3       4    No        North
18   111400  1700         2          2       1   Yes         East
19   167200  1920         3          3       2   Yes         West
20   116200  1790         3          2       3    No         East
21   113800  2000         3          2       4    No        North
22    91700  1690         3          2       3    No        North
23   106100  1820         3          2       3   Yes        North
24   156400  2210         4          3       2   Yes         East
25   149300  2290         4          3       3    No        North
26   137000  2000         4          2       3    No         West
27    99300  1700         3          2       2    No         East
28    69100  1600         2          2       3    No        North
29   188000  2040         4          3       1   Yes         West
..      ...   ...       ...        ...     ...   ...          ...
98   145500  2060         3          2       1    No         West
99   171000  2080         3          3       2   Yes         West
100  103200  2010         3          2       5    No        North
101  123100  2260         3          3       5    No         East
102  136800  2410         3          3       4    No         East
103  211200  2440         4          3       3   Yes         West
104   82300  1910         3          2       4    No         East
105  146900  2530         4          3       4    No         West
106  108500  2130         3          2       4    No        North
107  134000  1890         3          2       1   Yes         East
108  117000  1990         3          3       3   Yes         East
109  108700  2110         3          2       3    No         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
113  115700  2000         3          2       3   Yes        North
114  124500  2010         4          3       2    No         East
115  102500  1900         3          3       3    No        North
116  199500  2290         5          4       1   Yes         West
117  117800  1920         3          2       2    No        North
118  150200  1950         3          2       3   Yes        North
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
121  105600  1930         3          3       3    No         East
122  144800  2060         2          2       1   Yes         East
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]>

In [15]:
data=pd.read_csv(file, nrows=5, header=0)

In [16]:
print(data)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East

In [22]:
print(data["Price"]) #reading a particular column of a dataframe as a series

0    114300
1    114200
2    114800
3     94700
4    119800
Name: Price, dtype: int64

In [19]:
type(data["Price"])

pandas.core.series.Series

In [23]:
print(data[["Price"]]) # Reading column of a dataframe as dataframe

    Price  SqFt
0  114300  1790
1  114200  2030
2  114800  1740
3   94700  1980
4  119800  2130

In [20]:
type(data[["Price"]])

pandas.core.frame.DataFrame

In [24]:
print(data[["Price","SqFt"]])

    Price  SqFt
0  114300  1790
1  114200  2030
2  114800  1740
3   94700  1980
4  119800  2130

In [27]:
print(data[0:4])

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East

In [26]:
type(data[1:4])

pandas.core.frame.DataFrame

In [28]:
print(data.iloc[[0,1]]) # accessing the rows of a dataframe using the indexes

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East

In [30]:
print(data.iloc[[1],[1,2,3]]) #Accessing particular rows and columns of a dataframe using indexing

   SqFt  Bedrooms  Bathrooms
1  2030         4          2

In [32]:
print(data.iloc[:,[0,1,2,5]]) #accessing all the rows and particular columns of a dataframe using indexing

    Price  SqFt  Bedrooms Brick
0  114300  1790         2    No
1  114200  2030         4    No
2  114800  1740         3    No
3   94700  1980         3    No
4  119800  2130         3    No

In [48]:
TextFile='hanks_modified.txt'

In [49]:
df1=pd.read_csv(TextFile, sep='\t') # sep is to specify the seperator/delimiter, here the file is tab delimited. na_values takes a list of strings to recognize as NA/NaN
print(df1.head())

                 Title  Year  Length MPAA  Action  Drama  Humor   Sex  \
0  Saving Private Ryan  1998     160    R      10     10      4     0
1   That Thing You Do!  1996     110   PG       3      6      4     1
2            Apollo 13  1995     140   PG       6      8      4  Null
3            Toy Story  1995      80    G       8      2     10     0

   Violence  Suspense             Offbeat
0        10         8  4#comments to test
1         1         2  0#comments to test
2         2         9                   2
3         1         5                   3

In [50]:
df1=pd.read_csv(TextFile, sep='\t', comment='#',na_values='Null') #Values that appear after # in any cell are treated as comments and do not appear when printing the dataframe since comment character is specified as #

In [36]:
print(df1.head())

                 Title  Year  Length MPAA  Action  Drama  Humor  Sex  \
0  Saving Private Ryan  1998     160    R      10     10      4    0
1   That Thing You Do!  1996     110   PG       3      6      4    1
2            Apollo 13  1995     140   PG       6      8      4    0
3            Toy Story  1995      80    G       8      2     10    0

   Violence  Suspense  Offbeat
0        10         8        4
1         1         2        0
2         2         9        2
3         1         5        3

In [51]:
type(df1.head())

pandas.core.frame.DataFrame

In [52]:
print(df1.iloc[[0],[0]])

                 Title
0  Saving Private Ryan